/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
input{
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	color:#979797;
	width:190px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
a{
	color: #333;
	text-decoration: none;
}
/* CSS reset */

/* General Style */
body{
	font-family: 'Mountains of Christmas', cursive;
	background: #000;
	font-weight: 400;
	font-size: 15px;
	color: #aa3e03;
	overflow-y: scroll;
	overflow-x: hidden;
}
.container{
	position: relative;
	text-align: center;
}
.clr{
	clear: both;
}
.container > header{
	padding: 30px 30px 10px 20px;
	margin: 0px 20px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: left;
}
.container > header h1{
	font-family: 'Mountains of Christmas', cursive;
	font-size: 35px;
	line-height: 35px;
	position: relative;
	font-weight: 400;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 0px 0px 5px 0px;
}
.container > header h2, p.info{
	font-size: 16px;
	font-style: italic;
	color: #f8f8f8;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}
#headhead form{position:relative;text-align:left; padding-left:20px}
#headhead form input[type=text]{
	border:1px solid rgba(225,49,52,.3);
	outline:0;
	border-radius:10px 0px 0px 10px;padding:5px 10px; width:200px; height:15px; background-color:rgba(225,49,52,0.7);
	margin: 0px 0 10px 20px;
	color:#FFFFFF;	
}
#headhead form input[type=submit]{
	position:absolute;
	top:0px;
	width:27px;
	height:27px;
	border:1px solid rgba(225,49,52,.3);
	border-radius:0 10px 10px 0;
	background:url(http://joseph92.dothome.co.kr/portfolio/img/tree.png);
	background-size:23px 23px;
	background-repeat:no-repeat;
	background-color:rgba(225,49,52,0.7);	
}
#loginpage{background-color:#FFFFFF; height:0px; width:0px; position:fixed; top:20px; right:0px;opacity:.9;border-radius:10px;}
#loginpage form{
	width:220px;
	margin:0 auto;
	padding-top:10px;}
#loginpage form input{
	font-size:18px;	
}
#loginpage form input[type=text] ,input[type=password]{
	border:0px;
	border-radius:5px;
    width:200px;
    height:30px;
	margin-top:10px;
	-moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
	padding:5px 10px;
}

#loginpage form input[type=submit]{
    border-radius:5px;
    width:80px;
    margin-top:10px;
    float:left;
}
#loginpage form input[type=button]{
    border-radius:5px;
    width:80px;
    margin-top:10px;
    float:right;
}

#status{width:300px; height:300px;display:none}
/* Header Style */
.codrops-top{
	font-family: Arial, sans-serif;
	line-height: 24px;
	height:25px;
	font-size: 11px;
	width: 100%;
	background: #000;
	opacity: 0.9;
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	-moz-box-shadow: 1px 0px 2px #000;
	-webkit-box-shadow: 1px 0px 2px #000;
	box-shadow: 1px 0px 2px #000;
}
.codrops-top a{
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #ddd;
	display: block;
	float: left;
}

.codrops-top a:hover{
	color: #fff;
	font-size:12px;
}
.codrops-top span.right{
	float: right;
}

.logout{
	visibility:hidden;
}

/* Media Queries */
@media screen and (max-width: 767px) {
	.container > header{
		text-align: center;
	}
	#headhead form{width:260px; margin:0 auto; position:relative; left:-30px;}
	p.codrops-demos {
		position: relative;
		top: auto;
		left: auto;
	}
}