<!doctype html>
{% load staticfiles %}
<html>
<head>
<meta charset="utf-8">
<link href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" type="text/css" rel="stylesheet" >
<link rel="stylesheet" type="text/css" href="{% static 'css/search_base12.css' %}" />
<title>SEARCH</title>
</head>
<body>
<!-- Codrops top bar -->
            <!-- #codrops-top -->
            <div class="codrops-top">
                <a href="http://tympanus.net/codrops/2012/01/02/fullscreen-background-image-slideshow-with-css3/">
                    <strong>Thanks Mary Lou</strong>
                </a>
                <span class="right">
                    <a href="#username" class="username"><strong>username</strong></a>
                	<a href="#login" class="logout"><strong>Logout</strong></a>
                    <a href="#lovesCoffe" class="login"><strong>Login</strong></a>
                    <a href="#favorite" class="favorite">
                        <strong>Favorite</strong>
                    </a>
                </span>
                <div class="clr"></div>
            </div>
            <!--END #codrops-top -->
            
            <div id="map">
            </div>
            <div id="recommend">
					{% for x in info %}

                    <div id="box">
                    <ul id ="lists">
                	<li>
                    	<div id="list">
                    	<table width="280px">
                        	<colgroup>
                            	<col width="33%"><col width="33%"><col width="33%">
                            </colgroup>
                            <tr class="title" >
                            	<td height="40" colspan="3">
                                	{{ x.name }}<br> <p class="coffeeID">{{x.coffeeId}}</p>
                                    <p class="daumMap"><a href={{x.daummap}}>{{x.address}}</a></p>
                                    <p class="latlng">{{x.lat}},{{x.lng}}</p>
                                </td>
                            </tr>
                            <tr class="rate">
                            	<td height="31">{{taste}}</td>
                                <td>{{distance}}</td>
                                <td>{{price}}</td>
                          </tr>
                            <tr class="comment">
                            	<td colspan="3">
                                {% for j in x.comments %}
                                	<p class="useridclass">{{j.userID}}</p>
                                    <p class="commentclass">{{j.comment}}</p>
                                {% endfor %}
                                </td>
                            </tr>
                        </table>
                        </div>
                        
                        <div class="menus">
                            <button class="a"><img src="http://joseph92.dothome.co.kr/img/love.png"></button>
                            <button class="b"><img src="http://joseph92.dothome.co.kr/img/loc.png"></button>
                            <button class="c" ><img src="http://joseph92.dothome.co.kr/img/FB-f-Logo__white_72.png"></button>
                            <button class="d"><img src="http://joseph92.dothome.co.kr/img/katalk.png"></button>
                            <button class="e"><img src="http://joseph92.dothome.co.kr/img/write.png"></button>
                        </div> <!--menus END-->


                        <div class="posting">
                            <div class="score">
                                <img src="http://joseph92.dothome.co.kr/img/coffeeheart_1.png" class="choice">
                                <img src="http://joseph92.dothome.co.kr/img/coffeeheart_1.png" class="choice">
                                <img src="http://joseph92.dothome.co.kr/img/coffeeheart_1.png" class="choice">
                                <img src="http://joseph92.dothome.co.kr/img/coffeeheart_1.png" class="choice">
                                <img src="http://joseph92.dothome.co.kr/img/coffeeheart_1.png" class="choice"><b>없음</b> &frasl; 5
                            </div>
                            <form class="postforma" method="post">
                                {% csrf_token %}
                                <textarea class="textareacomment"></textarea>
                                <input type="submit" value="등록" class="commentbutton">
                            </form>
                            <div class="bg_hash">
                             hello world
                            </div>
                        </div>



                	</li>
                    <li class = "write">

                    </li>
				</ul>
                </div>
                	{% endfor %}
            	
				<div id="memo">
					{{ memo }}
				</div>
                <p class="addAndloc">
                    {{ address }}
				</p>
            </div>
<div id="loginpage">
                <form action=""id="loginform" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="LOGIN"/>
                    <input type="button" value="SIGNUP" id="signup"/>
                </form>
            <!--<h3 class="message">STATUS</h3>-->
                <button>LOGIN WITH FACEBOOK</button>
            </div>
</body>
<!--<script src="{% static 'script/jquery.js' %}"  type="text/javascript"></script>-->
<script src="http://joseph92.dothome.co.kr/portfolio/script/jquery.js"  type="text/javascript"></script>
<!--<script src="http://joseph92.dothome.co.kr/portfolio/script/search.js"  type="text/javascript"></script>-->
<script src="{% static 'script/search05.js' %}"></script>
<script src="{% static 'script/search_comment13.js' %}"></script>
<script src="{% static 'script/index_login_01.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAeVvTxCA083Jv1gQCvlGyC3nNLramjVU&signed_in=true&callback=initMap"
        async defer></script>
</html>
